<div class = "posts-index">  
  <h2 class="section-title"> タスク一覧</h2>
  <% @posts.each do |due_date, posts| %>
    <div class = "posts-top">
      <h2><%= l due_date %></h2>
        <% posts.each do |post| %>
          <% unless post.is_completed %>
            <div class="posts-index-item">
              <div class="post-content">
                <%= link_to post.content, post_path(post.id) ,class: "post_link"%>
              </div>
              <div class= "posts-due-date">
                締切期限 <%= l(post.due_date )%>
              </div>
              <div class = "posts-button">
                <%= button_to "実行済み", mark_post_path(post), method: :patch %>
              </div>
            </div>
          <% else %>
            <div class="posts-index-item">
              <div class="post-content">
                 <div class="task <%= 'completed' if post.is_completed %>">
                   <%= link_to post.content, post_path(post.id) ,class: "post_link" %>
                  </div>
              </div>
              <div class= "posts-due-date">
                締切期限 <%= l(post.due_date )%>
              </div>
              <div class = "posts-button">
                <%= button_to "実行済みを解除する", mark_post_path(post), method: :patch %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
  
